    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    body {
        background-color: #fcfbfb;
        font-family: sans-serif;
    }

    .container {
        margin: auto;
        padding: 8px;
        text-align: center;
        justify-content: space-between;
    }

   