* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #fcfbfb;
    font-family: sans-serif;
}

header {
    width: 100vw;
    height: 60px;
    background-color: #151515;
    color: white;
    display: flex;
    justify-content: space-between;

}

.logo {

    margin: 10px;
    padding: 4px;
}

.logo h4 {
    padding: 2px;

}
.nav ul {
    margin: 20px;
    display: flex;
}

.nav ul li {
    list-style: none;

}

.nav ul li a {
    color: white;
    font-weight: 400px;
    text-decoration: none;
    margin: 16px;
    cursor: pointer;

}

.nav ul li a:hover {
    color:#ff661f;

}
.container {
    margin: auto;
    padding: 8px;
    text-align: center;

}

button{
    margin-top: 100px;
    padding: 4px;
    font-size: 14px;
    width: 88px;
    height: 32px;
    border-radius: 8px;
}

button:hover{
    background-color: #ff661f;
    color: #fcfbfb;
    cursor: pointer;
    border:#fcfbfb ;
    overflow: hidden;
}


button:active{
    background-color: #ff661f;
    color: #fcfbfb;
    cursor: pointer;
    
}