*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top:40vh;
    padding: 20px;
}



button{
    width: 100px;
    height: 40px;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 4px;
    margin-right: 20px;   
}